@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;

    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	color: #6c6c6c;    
	background: transparent url("../images/background.png") repeat 0 0;
}

.img {
	width: 100%;
}

.social {
	width: 24px;
	padding: none;
}

.section-dark {
	background-color: #404041;
}

a {
	color: #81cdbd;
}

.masthead {
	text-align: center;
	position: fixed;
	width: 100%;
	z-index: 1000;
	background: transparent url("../images/nav-background.png") repeat 0 0;
}

.nav {
	width: 100%;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.nav a {
	display: inline-block;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	height: 2.5em;
	vertical-align: middle;
}

.first {
	text-align: right;
}

.second {
	text-align: center;
}

.third {
	text-align: left;
}

.logobackground {
	width: 100px;
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited {
	top: 0.9em;
	height: 40px;
	overflow: hidden;
	position: absolute;
	right: 10px;
	width: 46px;
	background: transparent url("../images/nav-icon.svg") no-repeat 0 0;
	text-indent: 100%;
	white-space: nowrap;
}
.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active {
	background-color: #000;
	background-position: 0 -40px;
}
.nav-btn[data-state="active"] {
	background-color: #000;
	background-position: -46px -40px;
}

.footer {
	clear: both;
	margin: 0 auto;
	color: #81cdbd;
	text-align: center;
	font-family: 'Lato', sans-serif;
	background: transparent url("../images/nav-background.png") repeat 0 0;
}

.banner {
	text-align: center;
	position: relative;

}

.banner-img {
	padding-top: 56.25%;
	background: #ccc url("http://placehold.it/1920x750") no-repeat center center;
	background-size: cover;

}

.welcome-wrap {
	color: #fff;
	bottom: 20%;
	position: absolute;
	width: 100%;
}

.about{
	width: 100%;
	padding: 3em;
}

.biotext {
	padding-left: 2em;
}


.work {
		text-align: center;
}

label {
	display: block;
}

form div {
	margin-bottom: 1.5rem;
}

input,
select,
textarea {
	font-size: 1.125rem;
	width: 15em;
}

textarea {
	height: 10em;
}

input,
textarea {
	border: 1px solid #ccc;
	padding: 0.3em;
}

button {
	padding: 0.5em 0.75em;
	background-color: #fff;
	border: 2px solid #81cdbd;
	color:#6c6c6c;
	cursor: pointer;
}


@media only screen and (min-width: 20em) {

	.first,
	.third {
		display: none;
	}

	.about{
	text-align: center;
	width: 100%;
	padding: 1em;
	}

	.work {
		text-align: center;
		padding-left: 1em;
	}

	.biotext {
		padding-top: 1em;
	}

	.contact {
		text-align: center;
		padding-left: 1em;
		padding-right: 1em;
		padding-bottom: 1em;
	}


}

@media only screen and (min-width: 38em) {

	.nav li {
	display: inline-block;
	}

	.nav-btn,
	.nav-btn:link,
	.nav-btn:visited {
		display: none;
	}

	.first,
	.third {
		display: inline-block;
	}


.contact {
	text-align: center;
	padding-left: 10em;
	padding-right: 10em;
	padding-bottom: 1em;
}

}

@media only screen and (min-width: 60em) {

	.nav-btn,
	.nav-btn:link,
	.nav-btn:visited {
		display: none;
	}	
}





